tr{
    border-bottom: 1px solid gray;
    
}
tr td, thead tr th{
    padding: 20px 0px; 
    margin: 0px 100px;
}
tr:nth-child(even){
    background: #131212;
}

table{
    border-bottom: 3px solid green !important;
    border-top: 3px solid green !important;
    padding: 10px;
}